.background{
	-fx-background-color: black;
}

.solid{
	-fx-background-color: purple;
}

.player{
	-fx-border-width: 5.0 3.0 0.0 3.0; 
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerBottomJump1{
	-fx-border-width: 0.0 3.0 10.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerTopJump1{
	-fx-border-width: 37.0 3.0 0.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerBottomJump2{
	-fx-border-width: 0.0 3.0 20.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerTopJump2{
	-fx-border-width: 27.0 3.0 0.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerBottomJump3{
	-fx-border-width: 0.0 3.0 30.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerTopJump3{
	-fx-border-width: 17.0 3.0 0.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerBottomJump4{
	-fx-border-width: 0.0 3.0 40.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

.playerTopJump4{
	-fx-border-width: 7.0 3.0 0.0 3.0;
	-fx-border-style: solid;
	-fx-background-color: yellow;
}

